# Игнорировать папки с данными (датасетами)
#tests/
#data/
#icons/
#smalltest/
#generated/
#debug/
#cropped-train/
#background_images/
mnist/
*.jpg
*.png
*.npz
*.npy
*.pickle

# Не хочу игнорировать некоторые из результатов 
!2. Prokudin-Gorskiy/
!2. Prokudin-Gorskiy/**/*.png
!3. Image compression/
!3. Image compression/**/*.png
!4. Inverse convolution/
!4. Inverse convolution/**/*.png

# Игнорировать папки с логами и модельками
**/lightning_logs/
**/checkpoints/
*.pt
*.pth


# Игнорировать кэшированные файлы
__pycache__/
.pytest_cache/